* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'roboto' , sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(200deg,rgb(6, 7, 66),rgb(92, 67, 72));
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 25px 20px 20px;
    gap: 20px;
    min-width: 400px;
    min-height: 450px;
    border: 2px solid rgba(255, 255, 255, 0.459);
    flex: 1 1 50px;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    max-width: 600px;
}

form h1 {
    color: white;
    padding: 10px 10px;
}

form span {
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 10px;
    backdrop-filter: blur(1000px);
    align-items: center;
    border: 2px solid rgba(255, 255, 255, 0.434);
}

form input {
    padding: 2px;
    background-color: transparent;
    border: none;
    width: 100%;
    color: white;
    outline: none;
}

form input::placeholder {
    color: rgba(255, 255, 255, 0.575);
    font-weight: bold;
    letter-spacing: .2px;
}
    

form p {
    cursor: pointer;
}

form .fa-user {
    color: rgba(255, 255, 255, 0.53);
    padding: 2px;
    width: max-content;
    font-size: clamp(10px,1rem,20px);
}

form .fa-eye-slash {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.537);
    padding: 2px;
    width: max-content;
    font-size: clamp(10px,1rem,20px);
}

form button {
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: .2px;
    background-color: rgba(58, 60, 113, 0.459);
    padding: 10px 5px;
    width: 60%;
    border-radius: 20px;
    border: 2px solid rgba(255, 255, 255, 0.459);
    cursor: pointer;
}

.konten {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    padding: 0px 8px;
    width: 80%;
}

.konten p {
    display: flex;
    justify-content: space-between;
}

.konten a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.571);
    padding-bottom: 2px;
    font-weight: bold;
    letter-spacing: .2px;
    padding: 2px;
}

.konten-login {
    color: rgba(255, 255, 255, 0.482);
    font-weight: bold;
    letter-spacing: .2px;
}

.konten-login .konten {
    padding: 10px;
    width: 100%;
}

.konten-login .konten i {
    font-size: clamp(10px,1.5rem,28px);
    width: max-content;
}

@media screen and (max-width:767px) {
    body {
        width: 100vw;
        height: 100vh;
    }

    form {
        flex: 1 1 350px;
        min-width: 300px;
        max-width: 400px;
        margin-inline: 10px;
        padding: 20px 10px;
    }

    form input span {
        width: 100%;
    }
}